export(VSURF, VSURF.interp, VSURF.interp.tune, VSURF.pred, VSURF.thres, VSURF.thres.tune,
       plot.VSURF, summary.VSURF)

importFrom(randomForest , randomForest)
import(rpart)

S3method(plot,VSURF)
S3method(summary,VSURF)
