export(plot.VSURF)
export(plot.VSURF.interp)
export(plot.VSURF.pred)
export(plot.VSURF.thres)
export(print.VSURF)
export(summary.VSURF)
export(tune)
export(tune.VSURF.interp)
export(tune.VSURF.thres)
export(VSURF)
export(VSURF.default)
export(VSURF.formula)
export(VSURF.interp)
export(VSURF.interp.parallel)
export(VSURF.interp.parallel.default)
export(VSURF.interp.parallel.formula)
export(VSURF.parallel)
export(VSURF.parallel.default)
export(VSURF.parallel.formula)
export(VSURF.pred)
export(VSURF.pred.default)
export(VSURF.pred.formula)
export(VSURF.thres)
export(VSURF.thres.default)
export(VSURF.thres.formula)
export(VSURF.thres.parallel)
export(VSURF.thres.parallel.default)
export(VSURF.thres.parallel.formula)
import(doParallel)
import(randomForest)
import(rpart)
S3method(plot,VSURF)
S3method(plot,VSURF.interp)
S3method(plot,VSURF.pred)
S3method(plot,VSURF.thres)
S3method(print,VSURF)
S3method(summary,VSURF)
S3method(tune,VSURF.interp)
S3method(tune,VSURF.thres)
S3method(VSURF,default)
S3method(VSURF,formula)
S3method(VSURF.interp,default)
S3method(VSURF.interp,formula)
S3method(VSURF.interp.parallel,default)
S3method(VSURF.interp.parallel,formula)
S3method(VSURF.parallel,default)
S3method(VSURF.parallel,formula)
S3method(VSURF.pred,default)
S3method(VSURF.pred,formula)
S3method(VSURF.thres,default)
S3method(VSURF.thres,formula)
S3method(VSURF.thres.parallel,default)
S3method(VSURF.thres.parallel,formula)
